{% extends 'base.html' %}
{% block table %}
{% load my_tags %}
    <div>
        <form action="?type=add" method="post">
            {% csrf_token %}
            {{ add_formset.management_form }}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading ">
                    <i class="fa fa-book" aria-hidden="true"></i> 待新建的权限列表
                    <button href="#" class="btn btn-success pull-right btn-xs" style="padding: 2px 8px;margin: -3px;">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        新建
                    </button>
                </div>
                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>URL</th>
                        <th>别名</th>
                        <th>菜单</th>
                        <th>父权限</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for formset in add_formset %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            {% for foo in formset %}
                                <th>{{ foo }}<span style="color: red">{{ foo.errors.0 }}</span></th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>

        <div class="panel panel-default">

            <!-- Default panel contents -->
            <div class="panel-heading ">
                <i class="fa fa-book" aria-hidden="true"></i> 待删除的权限列表

            </div>
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>URL</th>
                    <th>别名</th>
                    <th>操作</th>

                </tr>
                </thead>
                <tbody>
                {% for row in delete_row_list %}
                    <tr>
                        <th>{{ forloop.counter }}</th>

                        <th>{{ row.title }}</th>
                        <th>{{ row.urls }}</th>
                        <th>{{ row.name }}</th>

                        <th>
                            <a style="color: #d9534f;" href="{% memory_url request 'multi_delete' id=row.id %}"><i
                                    class="fa fa-trash-o"></i></a>
                        </th>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <form action="?type=update" method="post">
            {% csrf_token %}
            {{ update_formset.management_form }}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading ">
                    <i class="fa fa-book" aria-hidden="true"></i> 待更新的权限列表
                    <button href="#" class="btn btn-success pull-right btn-xs" style="padding: 2px 8px;margin: -3px;">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        更新
                    </button>
                </div>
                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>URL</th>
                        <th>别名</th>
                        <th>菜单</th>
                        <th>父权限</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for formset in update_formset %}
                        <tr>

                            <th>{{ forloop.counter }}</th>
                            {% for foo in formset %}
                                {% if forloop.first %}
                                    {{ foo }}
                                {% else %}
                                    <th>{{ foo }}<span style="color: red">{{ foo.errors.0 }}</span></th>
                                {% endif %}

                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>


{% endblock %}