{% extends 'base.html' %}
{% load my_tags %}
{% block table %}
    <div class="col-md-4"></div>
    <div class="col-md-4" style="margin-top: 20px">
        <form action="" method="post">
        {% csrf_token %}
            {% for game in games %}
                <div class="form-group">
                <label for="" class="" style="font-size: 20px">{{ game.title }}</label>
                    <input type="text" name="{{ game.title }}" style="display: inline-block" class="form-control"placeholder="{{ game.time }}">
            </div>
            {% endfor %}

           <div style="text-align: center">
               <button type="submit" class="btn btn-success" style="width: 100px">提交</button>
           </div>
        </form>
    </div>
{% endblock %}